html {
	height: 100%;
	width: 100%;
}
#root {
	height: 100%;
	width: 100%;
}
body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: 'Mulish', sans-serif;
	height: 100%;
	width: 100%;
}

.row {
	display: flex;
	flex-direction: row;
}

.column {
	display: flex;
	flex-direction: column;
}

.center-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.bold {
	font-weight: bold;
}

.main-page-wrapper {
	width: 100%;
	height: 100%;
	justify-content: center;
	color: #010a60;
	.app-wrapper {
		padding: 35px;
		justify-content: space-between;
		max-height: 673px;
		.details-wrapper {
			width: 50%;
			text-align: left;
			.title {
				font-size: 40px;
				margin: 15px 0px;
			}
			.sub-title {
				font-size: 24px;
				margin-bottom: 10px;
			}
			.details-text {
				font-size: 18px;
			}
		}
		.form-section {
			width: 50%;
			padding: 27px;
			height: 100%;
			align-items: center;
			.form-card {
				box-shadow: 0px 3px 16px #00000029;
				padding: 25px;
				height: 100%;
				width: 50%;
				.form-wrapper {
					.form-title {
						font-size: 24px;
						margin-bottom: 10px;
					}
					.form-sub-title {
						margin-bottom: 20px;
						font-size: 18px;
					}
					.input-wrapper {
						text-align: left;
						margin: 10px 10px;
						.form-input {
							border: none;
							width: 90%;
							border-bottom: 1px solid #010a60;
						}
						.error {
							color: #ed6982;
							font-size: 12px;
							height: 15px;
						}
					}
				}
			}
		}
	}
}
